a {
    color:#41ade3;
    transition:all 0.4s ease;
    text-decoration:none;
}
a:hover {
    color:#1d7fb0;
    text-decoration:none;
}
.coursebox {
    border:none;
    margin-bottom:30px;
    transition:all 0.4s ease;
    padding:20px;
}
.coursebox:hover {
    background-color:#f2f2f2 !important;
}
.box.generalbox.sitetopic {
    display:none;
}
.block {
    border:none;
    box-shadow:none;
}
.column {
    margin:5px;
}
.course {
    padding-left:22px;
}
.date {
    font-size:12px;
}
.event {
    margin:10px;
}
.event a:nth-child(2) {
    font-weight:bold;
}
#coursesearch {
    display: none;
}

.loginbox .loginform .form-input {
    float:none;
    text-align:center;
    margin: 0 auto;
}
.form-input input {
    background-color: #f1f1f1;
    border:none;
    width:16em;
    height:2em;
    margin-bottom:20px;
}
.form-label {
    float:none;
    text-align:center;
    margin: 0 auto;
}
.forgetpass {
    margin-top:30px;
}
.jsenabled .block.hidden .content {
     display:inherit;
     opacity:0;
     pointer-events:none;
     max-height:0px;
     transition:opacity 0.2s ease, max-height 1s ease;
}
.block .content {
    transition: opacity 0.2s ease, max-height 1s ease;
    max-height:5000px;
}
[data-type=event] {
    display:block;
    margin-left:20px;
    margin-top:-20px;
}
table.flexible th, .generaltable th, table.flexible td, .generaltable td {
 	border:none;
    transition:background-color 0.4s ease;
    padding:12px;
}
.column-contributiontocoursetotal {
 	border-radius:0px 10px 10px 0px;   
}
table#explaincaps tbody > tr:nth-child(2n+1) > td, table#defineroletable tbody > tr:nth-child(2n+1) > td, table.grading-report tbody > tr:nth-child(2n+1) > td, table#listdirectories tbody > tr:nth-child(2n+1) > td, table.rolecaps tbody > tr:nth-child(2n+1) > td, table.userenrolment tbody > tr:nth-child(2n+1) > td, table#form tbody > tr:nth-child(2n+1) > td, form#movecourses table tbody > tr:nth-child(2n+1) > td, #page-admin-course-index .editcourse tbody > tr:nth-child(2n+1) > td, .forumheaderlist tbody > tr:nth-child(2n+1) > td, table.flexible tbody > tr:nth-child(2n+1) > td, .generaltable tbody > tr:nth-child(2n+1) > td, table#explaincaps tbody > tr:nth-child(2n+1) > th, table#defineroletable tbody > tr:nth-child(2n+1) > th, table.grading-report tbody > tr:nth-child(2n+1) > th, table#listdirectories tbody > tr:nth-child(2n+1) > th, table.rolecaps tbody > tr:nth-child(2n+1) > th, table.userenrolment tbody > tr:nth-child(2n+1) > th, table#form tbody > tr:nth-child(2n+1) > th, form#movecourses table tbody > tr:nth-child(2n+1) > th, #page-admin-course-index .editcourse tbody > tr:nth-child(2n+1) > th, .forumheaderlist tbody > tr:nth-child(2n+1) > th, table.flexible tbody > tr:nth-child(2n+1) > th, .generaltable tbody > tr:nth-child(2n+1) > th {
 	transition:background-color 0.4s ease;   
}
.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
 	background-color:#f5f5f5;
    border-radius:10px;
    padding:20px;
}
.course-content ul li.section.main {
 	border:none;   
}
.course-content .current {
 	background:none;   
}
.course-content .current .content {
    background-color:#d9edf7 !important;
}
